<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- incloud jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- incloud bootstrap files from cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>hfc lab board</title>
  </head>
  <body>
    <div class="fruid-container">
      <!-- header start -->
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">HFC BBS</a>
        <div class="navbar-right">
        <form action="">
          <span class="navbar-text text-light" th:text="${newPostModel.userID}"> </span>
          <button type="button" class="btn btn-sm ml-2 btn-outline-light">ログアウト</button>
        </div>
        </form>
      </nav>
      <!-- header end -->
      <!-- containts start -->
      <div class="jumbotron jumbotron-extend board">
        <div class="container-fluid jumbotron-container">
          <div class="row">
            <div class="col-3">
              <div class="card" style="background-color: rgba(0,0,0,0.5);">
                <h5 class="card-header text-light">コメント編集</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action bg-transparent">
                    <a href="board.html"><span class="btn btn-outline-warning btn-block">BBSへ戻る</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-9">
              <div class="card" style="background-color: rgba(0,0,0,0.5);overflow-y: scroll;height: 80vh;">
                <div class="card-body">
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>注意!</strong>　このアラートはあなたの注意が必要です。
                    <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="post" th:action="@{/newPost}">
                    <div class="form-group row">
                      <label for="staticUser" class="col-sm-2 col-form-label">
                        <span class="text-light"th:text="${newPostModel.userID}">></span>
                      </label>
                      <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="staticUser" value="userId001">
                      </div>
                    </div>
                    <div class="form-group" th:if="${errorMap}">
                      <label for="formControlTextarea1">
                        <span class="text-light">コメント</span>
                      </label>
                      <textarea class="form-control" id="formControlTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-warning">送信する</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- containts end -->
      <!-- footer start -->
      <footer class="text-right bg-dark fixed-bottom">
        <span class="text-light text-muted small" style="padding-right:1em">@Created by hfc-lab, Designed by system-lab S.Fujisawa</span>
      </footer>
      <!-- footer end -->
    </div>
  </body>
</html>
